/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
main.svelte-12o83v3{position:relative;background-color:white;margin:0 auto;box-sizing:border-box}.page-container{margin:0;padding:0}
h1.svelte-1uosf9p,p.svelte-1uosf9p{margin:0 auto}h1.svelte-1uosf9p{font-size:2.8em;font-weight:700;margin:0 0 0.5em 0}p.svelte-1uosf9p{margin:1em auto}@media(min-width: 480px){h1.svelte-1uosf9p{font-size:4em}}
.game-picture.svelte-x9e0jn.svelte-x9e0jn{width:100%;height:100%;object-fit:cover}.games-container.svelte-x9e0jn.svelte-x9e0jn{display:grid;grid-template-columns:repeat(auto-fill, 256px);grid-auto-rows:256px;grid-gap:10px}.games-page.svelte-x9e0jn.svelte-x9e0jn{max-width:1280px;margin:auto;padding-bottom:100px}@media(max-width: 1300px){.games-page.svelte-x9e0jn.svelte-x9e0jn{max-width:100%}}.game-event-name.svelte-x9e0jn.svelte-x9e0jn,.game-event-result.svelte-x9e0jn.svelte-x9e0jn{display:inline-block;margin:auto;vertical-align:top}.game-container.svelte-x9e0jn.svelte-x9e0jn{position:relative;border-left:2px solid var(--two);border-bottom:2px solid var(--three);border-right:2px solid var(--four);border-top:2px solid var(--five);border-radius:5px}.game-meta.svelte-x9e0jn.svelte-x9e0jn{position:absolute;bottom:10px;padding:0 10px;left:5px;box-sizing:border-box;right:5px;margin:0;color:#fff;text-shadow:1px 1px 1px black;background:var(--one);border:1px solid var(--two)}.game-picture-container.svelte-x9e0jn.svelte-x9e0jn{margin:0;font-size:0;height:100%}.game-meta.svelte-x9e0jn h3.svelte-x9e0jn{margin:auto}.game-palette.svelte-x9e0jn.svelte-x9e0jn{position:absolute;top:0;background:#fff;padding:2px;font-size:0;display:none}.game-palette.svelte-x9e0jn div.svelte-x9e0jn{display:inline-block;width:20px;height:20px;vertical-align:top;margin:0;border:0;padding:0}.game-palette-one.svelte-x9e0jn.svelte-x9e0jn{background:var(--one)}.game-palette-two.svelte-x9e0jn.svelte-x9e0jn{background:var(--two)}.game-palette-three.svelte-x9e0jn.svelte-x9e0jn{background:var(--three)}.game-palette-four.svelte-x9e0jn.svelte-x9e0jn{background:var(--four)}.game-palette-five.svelte-x9e0jn.svelte-x9e0jn{background:var(--five)}
ul.svelte-154ejs4{margin:0 0 1em 0;line-height:1.5}.blog-page.svelte-154ejs4{max-width:920px;margin:auto}
.content.svelte-1n5lxkt h2{font-size:1.4em;font-weight:500}.content.svelte-1n5lxkt pre{background-color:#f9f9f9;box-shadow:inset 1px 1px 5px rgba(0, 0, 0, 0.05);padding:0.5em;border-radius:2px;overflow-x:auto}.content.svelte-1n5lxkt pre code{background-color:transparent;padding:0}.content.svelte-1n5lxkt ul{line-height:1.5}.content.svelte-1n5lxkt li{margin:0 0 0.5em 0}.post-page.svelte-1n5lxkt{margin:auto;max-width:920px}
.page-container.svelte-fsh916.svelte-fsh916{background:var(--one)}.game-container.svelte-fsh916.svelte-fsh916{position:relative;max-width:920px;margin:0 auto}@media(max-width: 1350px){.game-container.svelte-fsh916.svelte-fsh916{margin-left:240px}}.game-content.svelte-fsh916.svelte-fsh916 h2{font-size:1.4em;font-weight:500}.game-content.svelte-fsh916.svelte-fsh916 ul{line-height:1.5}.game-content.svelte-fsh916.svelte-fsh916 li{margin:0 0 0.5em 0}.game-content.svelte-fsh916.svelte-fsh916 img{max-width:100%}.game-content.svelte-fsh916.svelte-fsh916{background:#f9f9f9;padding:5px 20px}.game-title.svelte-fsh916.svelte-fsh916{margin:auto;text-align:left;font-size:50px;padding:0 20px;display:flex;align-items:center;height:200px;border-bottom:5px solid #eee;background:linear-gradient(0deg, var(--five) 0%, var(--one) 100%);text-shadow:2px 2px 0px black;color:#fff}.game-cover-img.svelte-fsh916.svelte-fsh916{background-size:cover;background-position:center;background-repeat:no-repeat;width:200px;height:200px;box-shadow:inset 0px 5px 3px 1px var(--one);border-bottom:5px solid #eee}.game-content.svelte-fsh916.svelte-fsh916 th,.game-content.svelte-fsh916.svelte-fsh916 td{text-align:left;padding:5px}.game-content.svelte-fsh916.svelte-fsh916 table{border-spacing:0;border:1px solid #ccc}.game-content.svelte-fsh916.svelte-fsh916 th{font-size:16px;font-weight:bold;color:#444;background:#eee}.game-content.svelte-fsh916.svelte-fsh916 tr:nth-child(even){background:#f9f9f9}.game-content.svelte-fsh916.svelte-fsh916 tr:nth-child(odd){background:#fff}.game-meta-container.svelte-fsh916.svelte-fsh916{position:absolute;right:100%;height:100%;width:200px;top:0;margin-right:5px}.game-meta.svelte-fsh916.svelte-fsh916{position:sticky;top:0;padding:10px;background:#f9f9f9}.game-link.svelte-fsh916 a.svelte-fsh916{width:100%;display:inline-block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.nav-back.svelte-fsh916.svelte-fsh916{font-size:20px;display:inline-block;padding:5px;background:#fff;border:5px solid #eee;margin:10px 0;line-height:16px;height:20px}.game-result.svelte-fsh916.svelte-fsh916{position:relative;border-bottom:1px dotted #ccc;background:#fff;padding:2px 5px}.game-result-value.svelte-fsh916.svelte-fsh916{position:absolute;right:5px;z-index:5;top:0;height:100%}.game-comments.svelte-fsh916.svelte-fsh916{border-top:5px solid #eee;padding:20px;background:#f9f9f9}.game-comment-body.svelte-fsh916.svelte-fsh916{padding:10px;background:#fff;border:1px solid #eee}.game-comment-body.svelte-fsh916.svelte-fsh916 p{margin:0 0 5px 0}.game-meta-section.svelte-fsh916.svelte-fsh916{margin-bottom:20px}.game-comment-body.svelte-fsh916.svelte-fsh916 img{max-width:100%}.game-container.svelte-fsh916.svelte-fsh916 .jamstic-image{background:#fff;display:inline-block;border:1px solid #ccc;padding:5px}.game-container.svelte-fsh916.svelte-fsh916 .jamstic-image-title{padding:0 5px}.page-nav.svelte-fsh916.svelte-fsh916{max-width:920px;margin:0 auto}
nav.svelte-xpuord{border-bottom:1px solid #eee;font-weight:300;padding:0 1em;text-align:center}ul.svelte-xpuord{margin:0;padding:0;max-width:1280px;margin:auto;width:100%;display:inline-block}ul.svelte-xpuord::after{content:"";display:block;clear:both}li.svelte-xpuord{display:block;float:left}[aria-current].svelte-xpuord{position:relative;display:inline-block}[aria-current].svelte-xpuord::after{position:absolute;content:"";width:calc(100% - 1em);height:2px;background-color:#ccc;display:block;bottom:-1px}a.svelte-xpuord{text-decoration:none;padding:1em 0.5em;display:block}